{% extends 'threeColumns.html.twig' %}
{% import 'macros.html.twig' as formRender %}

{% set hintPrefix = 'newForm.hints.' %}
{% block pageTitle %}
    <h2 class="MetaDataGroup-Title">{{ 'pages.newForm'|trans }}</h2>
{% endblock %}
{% block content %}
    {{ formRender.addCommitteeForms(content,committeeParamsnewForm,true,wrongPassword) }}
    {% if wrongPassword %}
        {{ include('components/infoModal.html.twig',{'modalID': 'passwordModal', 'prefix': 'newForm.password.modal.'}) }}
    {% endif %}
{% endblock %}