{% extends 'threeColumns.html.twig' %}
{% import 'macros.html.twig' as formRender %}

{% block content %}
    <div id="summary">
        {{ formRender.addHeading('summary.heading',{'headingHint': [['summary.headingHint'],true]}) }}
        <div class="mt-4">{{ formRender.addCountableTextfield(content.summary, maxChars, {'divHeight': '20rem', 'hint': [['summary.textHint']], 'noHeading': true}) }}</div>
    </div>
    {{ formRender.addSubmitButtons() }}
{% endblock %}

{% block preview %}
    {{ formRender.addPreview() }}
{% endblock %}