.Button {
  @apply border border-transparent;
  @apply Button_with_icon;
}

.Button_standalone {
  @apply px-4 py-[0.3125rem];
}

.Button_primary {
  @apply Button;
  @apply text-white shadow-sm hover:shadow-md;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  &:disabled {
    pointer-events: none;
    border-color: darkgray;
  }
}

.Button_primary_act {
  @apply Button_primary;
  @apply bg-zpid-green border-zpid-green-600 hover:bg-zpid-green-600 hover:border-zpid-green-600;
}

.Button_primary_go {
  @apply Button_primary;
  @apply bg-zpid-purple-700 border-zpid-purple-700 hover:border-zpid-purple-500 hover:bg-zpid-purple-500;
}

.Button_dropdown {
  @apply Button;
  @apply px-1 ml-1 bg-white border rounded-md hover:bg-mono-100;
}

.Button_navigation {
  @apply Button_with_icon;
  @apply ring-inset px-3 pt-1 h-full text-base border-b-4 hover:border-zpid-blue border-transparent;
}

.Button_with_icon {
  @apply flex items-center;
  gap: 0.5rem;
  justify-content: space-evenly;
  svg {
    @apply flex-shrink-0 w-5 h-5;
  }
}

.Upload {
  @apply Button_primary_act;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}