.StudyNav-NavItem {
  @apply block py-2 pl-7 pr-1.5 border-b bg-mono-50 ring-inset border-mono-300 hover:bg-zpid-blue-50;
}

.StudyNav-NavItem_active {
  @apply pl-6 font-semibold no-underline border-l-4 border-l-zpid-blue;
  pointer-events: none;
}

.StudyNav-SubNavItem {
  @apply block py-2 pl-7 pr-1.5 leading-tight ring-inset hover:bg-zpid-blue-50;
}
