/* PDFs */
* {
    line-height: 1.5;
}

.linkInternal::after {

}

li { /* needed for hints in complete form */
    margin-left: 1.5rem;
    text-indent: -1.1rem;
    list-style-position: inside;
}

.pdfBox {
    page-break-inside: avoid;
    margin-bottom: 2em;
}

.boxOuter {
    background-color: lightgrey;
    display: flex;
}

.boxOuterNA {
    background-color: #eeeeee;
    display: flex;
}

.boxInner {
    border: 1px solid lightgrey;
    text-align: justify;
    min-height: 1em;
    padding: 0.5em 0.2em;
    margin-right: 0;
    margin-left: 0;
    word-break: break-word;
}

.boxInnerNA {
    border: 1px solid #eeeeee;
    padding: 0.5em 0.2em;
    margin-right: 0;
    margin-left: 0;
}

.colorNA {
    color: #dddddd;
}

.pdfDocument {
    font-family: montserrat-regular, sans-serif;
    padding-right: 0.1em;
    page-break-after: always;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.pdfMargin {
    margin-top: 50px;
}

.demo {
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
}

.demo_de {
    background-image: url("../build/images/demo_de.svg");
}

.demo_en {
    background-image: url("../build/images/demo_en.svg");
}

.pdfOral {
    color: red;
    margin-bottom: 1em;
}

.markInput { /* must equal the attributes in app.scss */
    font-style: italic;
    color: #028702;
}

.pdfHeadingCenter {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: zillaSlab-medium, sans-serif;
}

.pdfHeadingMain {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 1em;
}

.pdfBorderMain {
    border: 2px dashed black;
}

.pdfHeadingNumber {
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: zillaSlab-medium, sans-serif;
}

.pdfHeading {
    font-family: zillaSlab-medium, sans-serif;
    margin: 0.5em;
}

.pdfHeading a, .pdfHeadingCenter a, .previewSmall a, div a {
    font-family: inherit;
}

.linkNormal {
    text-decoration: none;
    color: inherit;
}

.previewSmall a::after {
    position: relative;
    top: 0.125em;
    display: inline-block;
    overflow: hidden;
    width: 1em;
    height: 1em;
    background:
    url("../images/link-in.svg"
    param(--color theme("colors.mono.900")))
left center no-repeat;
    content: "(external link)";
    text-indent: 1em;
    white-space: nowrap;
    background-size: 100% !important;
}

i.pdfHeading {
    font-family: zillaSlab-medium, sans-serif;
    font-weight: normal;
    font-size: small;
}

.previewXLarge {
    font-size: medium;
}

.previewSmall {
    font-size: x-small !important;
}

.textJustify {
    text-align: justify;
    margin-bottom: 2em;
}

.noPageBreak {
    page-break-inside: avoid;
    margin: 0;
}

.tableHeight tr {
    height: 25px;
}

.tableHeightPreview tr {
    height: 20px;
}

.tableHeight td, .tableHeightPreview td {
    border: 1px solid black;
    width: 50%;
}

tr {
    word-break: normal;
}

.briefBorder { /* table for brief report */
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
}

.briefBorder td {
    border: 1px solid black;
    padding: 0.5em 0.5em 0.45em 0.5em;
    text-align: start;
    width: fit-content;
}

/* Checkboxes. As there are no pseudo-elements possible in the downloaded pdf, checkboxes will be div-elements. These classes are only used once in pdfMacros. */

.checkboxPDF {
    width: 1em;
    height: 1em;
    border: 1px solid #dee2e6;
    border-radius: 225px 15px/15px 225px;
    margin-right: 0.5em;
}

.checkSmall {
    width: 1.25em;
    height: 1.25em;
}

/* Radiobuttons. Same as for checkboxes, but only used once in participation consent. */
.radiobuttonPDF {
    width: 1em;
    height: 1em;
    border: 1px solid #dee2e6;
    border-radius: 9999px;
    margin-right: 0.5em;
}

.radioSmall {
    width: 1.2em;
    height: 1.2em;
}