{% apply inline_css(source('@styles/pdf.css')) %}
<!DOCTYPE html>
    {% set locale = app.request.locale %}
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8">
        <title>PDF</title>
    </head>
    <div class="{{ 'pdfDocument'~(savePDF and isNotParticipation is not defined ? 'Margin')}} {% if savePDF and isCommitteeBeta %} demo demo_{{ locale }} {% endif %}">
        {% block pdfBody %}{% endblock %}
    </div>
</html>
{% endapply %}